@charset "utf-8";
@import "src/style/store.scss";
$headHeight: rem(100);

header {
    height: $headHeight;

    .header_view {
        position: fixed;
        height: $headHeight;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 2;
        background-color: #fff;
        display: flex;
        justify-content: space-between;

        .backIcon {
            height: $headHeight;
            width: rem(200);
            display: flex;
            align-items: center;
            flex-shrink: 0;
            padding-left: rem(20);
            box-sizing: border-box;

            svg {
                stroke: #333;
                fill: #333;
                height: rem(40);
            }
        }

        .title {
            height: $headHeight;
            line-height: $headHeight;
            color: #333;
            font-size: rem(34);
            text-align: center;
            @include toe();
        }

        .features {
            height: $headHeight;
            line-height: $headHeight;
            flex-shrink: 0;
            width: rem(200);
            box-sizing: border-box;
            display: flex;
            justify-content: flex-end;
            padding-right: rem(30);
        }
    }
}